<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Rodriguez</title>
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="./../css/lightbox.css">
</head>
<body>
    <header>
        <a href="../index.html" class="logoLink"><img src="./../assets/logo.jpg" alt="logo" width="50" height="80" class="logo"></a>
        <nav class="navbar">
            <a href="../index.html">Inicio</a>
            <a href="#" class="current">Galería</a>
            <a href="/views/presupuesto.html">Presupuesto</a>
            <a href="/views/contacto.html">Contacto</a>
        </nav>
    </header>
    <main class="gallery-main">
        <h1>Galería de servicios</h1>
        <div class="galeria">
            <div class="galeria-container">
                <div class="contenedor">
                    <a href="./../assets/pexels-pixabay-207580.jpg"  data-lightbox="gallery" data-title="Creamos y configuramos tu entorno Linux a medida, y lo adaptamos a tus necesidades específicas: gaming, servidores, cibeseguridad y más.">
                        <img src="./../assets/pexels-pixabay-207580.jpg" alt="linux" height="600" width="800">
                    </a><p>Configuracion de entornos Linux</p>
                </div>
                <div class="contenedor">
                    <a href="./../assets/pexels-danny-meneses-340146-943096.jpg" data-lightbox="gallery" data-title="Evaluación completa de vulnerabilidades en tus sistemas para identificar y corregir posibles brechas de seguridad.">
                        <img src="./../assets/pexels-danny-meneses-340146-943096.jpg" alt="hacking" width="800" height="600">
                    </a><p>Hacking y pentesting</p>
                </div>
                <div class="contenedor">
                    <a href="./../assets/pexels-caio-67112.jpg" data-lightbox="gallery" data-title="Te asesoramos en cómo mejorar la visibilidad de tu sitio web en los motores de búsqueda para atraer más tráfico orgánico.">
                        <img src="./../assets/pexels-caio-67112.jpg" alt="SEO" width="800" height="600">
                    </a><p>Asesoría en optimización de motores de búsqueda</p>
                </div>
                <div class="contenedor">
                    <a href="./../assets/pexels-tara-winstead-8386440.jpg" data-lightbox="gallery" data-title="Diseñamos e implementamos redes neuronales personalizadas que se adaptan a las necesidades específicas de tu proyecto o negocio">
                        <img src="./../assets/pexels-tara-winstead-8386440.jpg" alt="IA" width="800" height="600">
                    </a><p>Implementación adaptativa de redes neuronales</p>
                </div>
                <div class="contenedor">
                    <a href="./../assets/pexels-picjumbo-com-55570-196645.jpg" data-lightbox="gallery" data-title="Diseñamos y maquetamos páginas web atractivas y funcionales, adaptadas a tus necesidades y objetivos.">
                        <img src="./../assets/pexels-picjumbo-com-55570-196645.jpg" alt="maquetacion" width="800" height="600">
                    </a><p>Maquetación de páginas web</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>2025. David Rodriguez. Todos los derechos reservados.</p>
        <ul class="social-media">
            <li><a href="https://www.github.com" target="_blank"><img src="./../assets/github-142-svgrepo-com.svg" alt="Github logo" title="Github"></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><img src="./../assets/instagram-svgrepo-com.svg" alt="Instagram logo" title="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/" target="_blank"><img src="./../assets/linkedin-svgrepo-com.svg" alt="LinkedIn logo" title="LinkedIn"></a></li>
        </ul>     
    </footer>
    <script src ="./../js/script.js"></script>
    <script src ="./../js/lightbox-plus-jquery.js"></script>
</body>
</html>